{% extends 'base.html' %}

{% block content %}
	<section>

        <h3 class="fs-2">About</h3>
        <p>This is a page written by the course in IT Step.</p>
        <p>Our mission is all about learning Python.</p>
        <a href="https://www.python.org/" class="icon-link d-inline-flex align-items-center">
          You can learn more about the Python programming Language here:
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
	</section>
{% endblock %}
